.prengi {
    min-height: 890px;
    &__content {
        padding-top: 70px;
        .arrow_down {
            display: block;
            margin: 0 auto;
        }
        h2 {
            padding-top: 10px;
            color: #393939;
            font-size: 48px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30.04px;
            text-align: left;
            text-transform: uppercase;
            text-align: center;
        }
    }
    &__img {
        display: flex;
        justify-content: space-between;
        img {
            margin: 0px 10px; 
            border: 1px solid #ececec;
        }
        p {
            transform: translateY(-100px);
            color: #393939;
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 26px;
            text-align: center;
        }
    }
    &__img_two {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        img {
            margin: 0px 10px; 
            border: 1px solid #ececec;
        }
        p {
            transform: translateY(-100px);
            color: #393939;
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 26px;
            text-align: center;
        }
    }
}